<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/logos/ice_splash.png" alt="ICE Logo" class="splash-image">
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
          <div>
            <form class="example-form">
              <mat-form-field>
                <input matInput placeholder="Login" value="Login">
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Password" value="Password">
              </mat-form-field>
            </form>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Submit</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
